body {
    text-align: center;
    margin: 0;
}

nav {
    background-color: #337CCF;
    padding: 10px;
    border-bottom: solid medium #3c3c3c;
    
    display: flex; 
    justify-content: flex-end;
    
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: #eee
  }
  
nav a:hover {
    background-color: #E2C799;
}

footer {
    background-color: #337CCF;
    padding: 10px;
    border-bottom: solid medium #3c3c3c;
    
    display: flex; 
    justify-content: center;
    
}

footer a {
    text-decoration: none;
    padding: 10px;
    color: #eee
}
  
footer a:hover {
    background-color: #E2C799;
}

.name {
    background-color: #CAEDFF;
    padding: 10px;
}

.content {
    background-color: #EEEEEE;
    padding: 10px;
}

.about {
    background-color: #CAEDFF;
    padding: 10px;
    text-decoration: none;
}

.added-link {
    text-decoration: none;
    color: #337CCF
}

.added-link:hover {
    color: red;
    font-weight: bold;
}

h1 {
    font-family: "Sofia", sans-serif;
    color: #1450A3;
    font-size: 40pt;
}
h2 {
    font-family: "Anton", sans-serif;
    color: #352F44;
    font-size: 24pt;
}

h3 {
    font-family: "Audiowide", sans-serif;
    color: #5C5470;
    font-size: 20pt;
}

hr {
    
    border-color: #333;
    border-width: 10px;
}

.image1 {
    position: absolute;
    top: 150px; 
    left: 150px; 
    border-radius: 10px;
}

.image2 {
    position: absolute;
    top: 150px; 
    right: 150px; 
    border-radius: 10px;
}

.image3 {
    border-radius: 50%;
}

.card {
    background-color: #fff;    
}

.card img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
}



.lang {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding: 0;
}

.leadership {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0;
}

.leadership dt {
    margin-top: 20px;
}

.skills {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 0;
}

.skills dt {
    margin-top: 30px;
}





.one-col {
    width: 300px; 
    padding: 30px;
    margin: 0 auto;
  }
  
label {
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
  
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
}



  









  
/*
.splash {
    background-color: #B9B4C7;
    padding: 200px 0 0 0;
}
h1 {
    color: #0C356A;
}
h2 {
    color: #279EFF;
}
hr {
    border: dotted #c3c3c3 12px;
}
*/